<div class="form_wrapper">
  <div class="form_container">
    <div class="row clearfix">
      <div class="">
        
        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
          <input type="password" name="password" placeholder="Password"  />
        </div>
        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
          <input type="password" name="password" placeholder="Re-type Password"  />
        </div>
        <button id="register" class="button" (click)="onSubmit($event)">Register</button>
        
      </div>
    </div>
  </div>
</div>